body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
    color: #ffffff
}

.bg-nav {
    background-color: #000000;
    z-index: 1;
}

.hero-section .heading {
    font-size: 5em;
    text-shadow: 0.1em 0.1em 0.05em #000000;
}

.heading {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.25em;
    font-size: 3em;
}

.about .heading {
    text-shadow: 0.125em 0.25em 0.125em #ffff00;
}

.timeline .heading {
    text-shadow: 0.125em 0.25em 0.125em #7cfc00;
}

.projects .heading {
    text-shadow: 0.125em 0.25em 0.125em #dc143c;
}

.contact .heading {
    text-shadow: 0.125em 0.25em 0.125em #ff1493;
}

.logo {
    font-family: 'Londrina Outline', cursive;
    font-size: 3em;
}

.navbar {
    top: 0;
}


.hero-section {
    background-image: url(../img/hero1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 7em;
}

.hero-section img {
    width: 2em;
}

.timeline img {
    width: 30vw;
    box-sizing: content-box;
    vertical-align: middle;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    line-height: normal;
    width: 50%;
}

.icon {
    font-size: 3em;
    color: #ffffff;
}

.carousel-control-prev-icon {
    margin-right: 1.75em;
}

.carousel-control-next-icon {
    margin-left: 1.75em;
}