body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
    color: #ffffff
}

.logo {
    font-family: 'Londrina Outline', cursive;
    font-size: 3em;
}

.icon {
    font-size: 3em;
}

.hero-section {
    font-family: 'Bebas Neue', cursive;
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero-section img {
    width: 1em;
}
.timeline {
    position: relative;
}

.timeline ul {
    margin: 0;
    padding: 0;
}
/* 
.timeline ::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 30%;
    background: #ffffff;
}
 */
.timeline ul li {
    list-style: none;
    line-height: normal;
    width: 50%;
}

@media (min-width: 540px) {
    .hero-section {
        text-align: right;
    }
}