body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
    color: #ffffff
}

.bg-nav {
    background-color: #000000;
    z-index: 1;
}
.about .heading {
    text-shadow: 0.125em 0.25em 0.125em #1e90ff;
}

.timeline .heading {
    text-shadow: 0.125em 0.25em 0.125em #7cfc00;
}

.projects .heading {
    text-shadow: 0.125em 0.25em 0.125em #dc143c
}

.contact .heading {
    text-shadow: 0.125em 0.25em 0.125em #ff1493
}

.logo {
    font-family: 'Londrina Outline', cursive;
    font-size: 3em;
}

.navbar {
    position: fixed;
    top: 0;
}

.hero-section {
    font-family: 'Bebas Neue', cursive;
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 7em;
}

.heading {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5em;
}

.hero-section img {
    width: 1em;
}

.timeline img {
    width: 30vw;
    box-sizing: content-box;
    vertical-align: middle;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    line-height: normal;
    width: 50%;
}

.icon {
    font-size: 3em;
}

.carousel-control-prev-icon {
    margin-right: 1.75em;
}

.carousel-control-next-icon {
    margin-left: 1.75em;
}

@media (min-width: 540px) {
    .hero-section {
        text-align: right;
    }
}